@use "../../styles/vars" as v;
@use "../../styles/mixins" as m;
.book {
  padding: 30px 0;
  &__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 25px;
    }
    @media (max-width: 1150px) {
      gap: 25px;
    }
  }

  &-card {
    background: #f6f4f1;
    border-radius: 12px;
    padding: 12px;
    transition: transform 0.3s ease;
    flex: 0 0 190px;
    &:hover {
      transform: translateY(-5px);
    }
    &__cover {
      overflow: hidden;
      margin-bottom: 16px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    &__title {
      color: #000000;
      margin-bottom: 8px;
      @include m.text-title(16px, 600, 24px, 0px);
    }

    &__author {
      color: #3c3c4399;
      @include m.text-title(14px, 500, 24px, 0px);
    }
  }
}
@media (max-width: 768px) {
  .book-card:last-child {
    display: none;
  }
  .book-card:nth-child(4) {
    display: none;
  }
}

@media (max-width: 560px) {
  .book-card:nth-child(4) {
    display: block;
  }
  .book-card:last-child {
    display: block;
  }
  .book__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
  .book-card {
    padding: 2px;
    &__title {
      color: #000000;
      margin-bottom: 8px;
      @include m.text-title(14px, 600, 24px, 0px);
    }

    &__author {
      color: #000000;
      @include m.text-title(13px, 500, 24px, 0px);
    }
  }
}
